<div class="container mt-5 ms-3">
  <h1>Watch Lists</h1>
  <%= link_to "New list", lists_new_path, class: "btn btn-primary mb-3" %>
  <ul>
    <% @list.each do |list| %>
      <li class="m-3">
        <%= link_to list.name, list_path(list) %>
        <%= link_to "Delete", list_path(list), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger btn-sm text-white " %>
      </li>
    <% end %>
  </ul>
</div>
